<h1>Bloccit: a Reddit replica to teach the fundamentals of web development and Rails.</h1>

<h3>This is my Bloccit app that I completed during the Foundations lessons at Bloc with Ruby on Rails.</h3>

<h5>It taught me several fundamental lessons in programming, including how to:</h5>

<ul>
  <li>interact with Github branches</li>
  <li>test different aspects of a Rails project with RSpec</li>
  <li>interact with models, views, controllers, and databases</li>
  <li>implement Ruby gems in a project</li>
</ul>

<h5>The master branch is the final version of Bloccit, and the Assignment branches are my own coursework that I built without direct guidance from Bloc's course.</h5>

<h5>loccit features include the abilities to:</h5>

<ul>
  <li>create a user account with a username, email, and password, and use a Gravatar for a profile picture</li>
  <li>view a user account, which displays the user's Gravatar, posts, and comments</li>
  <li>create topics, posts, and comments</li>
  <li>favorite posts and track new comments on them</li>
  <li>add labels to topics and posts</li>
  <li>comment on a post and have it update the page without refreshing</li>
  <li>edit and delete topics and posts, but only if you created them or are an admin</li>
  <li>delete comments, but only if you created them or are an admin</li>
  <li>create standard or admin users- but admins can only be created through the Bloccit API or if I add admins myself</li>
  <li>solve world hunger, eliminate poverty, and become better looking!</li>
</ul>
